.inner {
	width: 100%;
	padding: 3px;
	margin-bottom: 20px;
	border: 2px dashed #EF4035;
}

.admissions {
	padding: 0px 50px 0px 50px;
}

.text-primary {
	font-weight: bold;
}

.justify {
	text-align: justify;
	text-indent: 30px;
}

.footer-social {
	font-size: 3rem;
}

.footer-social img {
	width: 15%;
	font-size: 4rem;
}

footer.footer .footer-social {
    margin-bottom: 35px;
}

.under-h1 {
	padding-bottom: 20px;
}

.hr-margin {
	margin-bottom: 40px;
}

.programs h3 {
	font-size: 1.3rem;
}

.programs .row {
	padding-bottom: 20px;
}

.internship {
	padding: 20px;
	text-align: justify;
}