body {
    padding-top: 50px;
    background-color: #f6f6f6;
}

/* .starter-template {
    padding: 40px 15px;
    text-align: center;
} */

a:hover {
    text-decoration: none;
}

nav {
    text-transform: uppercase;
}

main {
    margin-top: 50px;
    margin-bottom: 50px;
}

ol {
    list-style: none;
    padding: 0;
    background-color: #fff;
    border: 1px solid #aaa;
    border-top: none;
}

ol li {
    border-bottom: 1px solid #aaa;
}

ol>li:last-child {
    border-bottom: none;
}

ol li p {
    width: 100%;
    margin-bottom: 0;
    padding: 10px;
}

ol li p:hover {
    cursor: pointer;
}

img {
    width: 100%;
}

footer {
    text-align: center;
    color: #fff;
    background-color: #1679c3;
    padding-bottom: 1px;
    text-shadow: 1px 1px 1px black;
    padding: 30px 0;
}

.navbar {
    background-color: #1679c3;
    border: none;
}

.navbar p {
    color: #fff;
    font-weight: 100;
    font-size: 22px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px black;
    padding: 10px 5px 10px 5px;
    margin-bottom: 0px;
    text-align: right;
    float: right;
    text-transform: lowercase;
}

/*.navbar-inverse .navbar-nav>li>a {
    color: lightgrey;
}*/

#navbar-2 {
    background-color: #1679c3;
    display: none;
}

#navbar-2 ol {
    border: none;
    margin: 0;
}

#navbar-2 ol li {
    float: left;
    min-width: 65px;
    text-align: center;
    border: none;
    padding: 0;
}

#navbar-2 h3 {
    margin: 0;
    padding: 8px 8px 8px 20px;
    color: #fbd079;
    text-shadow: 1px 1px 1px black;
    float: left;
}

#brand-2 {
    border-bottom: 1px solid #fff;
}

#brand-2 img {
    width: 3%;
    float: right;
    margin: 14px 20px 14px 14px;
}

.brand-2-wrapper {
    width: 100%;
    min-height: 41px;
}

.brand-2-wrapper:hover {
    cursor: pointer;
}

#menu-2 {
    height: 40px;
    padding: 0 10px;
    color: #fff;
}

#menu-2 p {
    padding: 10px 0;
}

#menu {
    z-index: 1;
    color: #337ab7;
}

#menu h1 {
    background-color: #aaa;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin: 0px;
    text-shadow: 0px 1px 1px #222;
}

.products-group {
    padding-bottom: 10px;
}

/*.products-group a {
    text-decoration: none;
}*/

.products-group>h1 {
    margin: 0;
    background-color: #aaa;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-bottom: 20px;
    text-shadow: 0px 1px 1px #222;
}

.products-inner {
    margin-bottom: 20px;
}

.products-inner>.row-2>.no-padding:first-child {
    padding-right: 10px;
}

.products-inner>.row-2>.no-padding:nth-child(2) {
    padding-left: 5px;
    padding-right: 5px;
}

.products-inner>.row-2>.no-padding:last-child {
    padding-left: 10px;
}

.products {
    background-color: #fff;
    box-shadow: 0px 1px 1px #999999;
    padding-bottom: 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #707070;
}

.products img {
    padding: 5%;
}

.products h1 {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 23px;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.products-parameters {
    padding-left: 10px;
    padding-right: 10px;
}

.inner-parameters {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding-bottom: 7px;
}

.inner-parameters ul {
    margin-bottom: 7px;
}

.memory, .color {
    font-weight: bold;
    color: #337ab7;
    text-transform: uppercase;
    float: left;
    margin-bottom: 0px;
    padding: 4px 0;
}

.color {
    padding: 10px 0;
}

/*.feauters {
    font-weight: bold;
    color: #337ab7;
    text-transform: uppercase;
    margin-right: 5px;
}*/

.memory-selector ul {
    list-style: none;
}

.memory-selector li {
    float: left;
    margin-left: 10px;
    padding: 3px;
    border: 1px solid #fff;
}

.memory-selector li:hover {
    cursor: pointer;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
}

.memory-selector .memory-active {
    border: 1px solid #08c;
    border-radius: 4px;
    color: #e74c3c;
}

.memory-selector .memory-active:hover {
    border: 1px solid #08c;
}

.color-selector {
    margin-bottom: 0;
}

.color-selector ul {
    list-style: none;
}

.color-selector li {
    float: left;
    margin-left: 10px;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid #fff;
}

.color-selector li:hover {
    cursor: pointer;
    border: 1px solid #d6d6d6;
}

.color-selector .color-active {
    border: 1px solid #08c;
}

.color-selector .color-active:hover {
    border: 1px solid #08c;
}

.color-selector figure {
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.white {
    background-color: #fff;
}

.jet-black {
    background-color: #000000;
}

.black {
    background-color: #2e3034;
}

.space-grey {
    background-color: #9b9ba0;
}

.grey {
    background-color: #7b7b7b;
}

.silver {
    background-color: #d0d0d4;
}

.gold {
    background-color: #d4bba3;
}

.rose-gold {
    background-color: #d0a8a0;
}

.red {
    background-color: #b42632;
}

.copper {
    background-color: #d0a8a0;
}

.blue {
    background-color: #598eae;
}

.martianpink {
    background-color: #dd9b8f;
}

.rose-gold {
    background-color: #d0a8a0;
}

.pink-gold {
    background-color: #fcd4d4;
}

.salmon-pink {
    background-color: #ff7f80;
}

.blue-coral {
    background-color: #63d7d6;
}

.black-mist {
    background-color: #040a1a;
}

.orchid-gray {
    background-color: #868499;
}

.price {
    color: #e74c3c;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    margin: 10px 0px 5px 0px;
    text-align: center;
}

/* .paypal {
    text-align: center;
    padding: 0 50px;
    position: relative;
}

.paypal input {
    width: 100%
}

.paypal img {
    display: none;
}

.paypal> form:hover {
    opacity: .9;
    cursor: pointer;
} */

#terms {
    position: relative;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 50px;
}

/*.languages {
    position: absolute;
    top: 8px;
    right: 0;
    width: 12%;
}

.language {
    width: 50%;
    float: left;
    text-align: center;
}

.language img {
    width: 55%;
    margin-bottom: 3px;
    padding: 3px;
    border: 1px solid #f6f6f6;
    border-radius: 4px;
}

.language img:hover {
    cursor: pointer;
    border-color: #d6d6d6;
}

.language p {
    font-size: 10px;
}

.language .img-active {
    border-color: #08c;
}

.language .img-active:hover {
    border-color: #08c;
}

.language .p-active {
    color: #e74c3c;
}*/

/* language-2 */
/*.languages-2 {
    position: absolute;
    bottom: 3px;
    width: 100%;
}

.languages-2-wrapper {
    padding: 0 40%;
    height: 20px;
}

.language-2 {
    float: left;
    text-align: center;
    width: 50%;
}

.language-2 img {
    width: 40%;
    margin-bottom: 3px;
    padding: 3px;
    border: 1px solid #f6f6f6;
    border-radius: 4px;
}

.language-2 img:hover {
    cursor: pointer;
    border-color: #d6d6d6;
}

.language-2 p {
    font-size: 10px;
}

.language-2 .img-active-2 {
    border-color: #08c;
}

.language-2 .img-active-2:hover {
    border-color: #08c;
}

.language-2 .p-active-2 {
    color: #e74c3c;
}*/

#notice .notice:nth-child(2), #notice .notice:nth-child(3) {
    border-top: 1px solid #e7e7e7;
}

.notice {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}

.notice p {
    font-size: 15px;
    text-align: justify;
    margin: 0;
}

.notice img {
    width: 10%;
}

.cross {
    position: absolute;
    top: 14px; 
    right: 10px;
    color: #aaa;
    padding: 0 5px;
}

.cross:hover {
    cursor: pointer;
}

.notice .special-notice p {
    font-size: 16px;
    margin-bottom: 0;
    text-indent: 10px;
}

.special-notice {
    color: #337ab7;
    font-weight: bold;
    font-style: italic;
    background: yellow;
    padding: 5px 10px 5px 10px;
    border: 2px dashed #e74c3c;
}

.special-notice-2 {
    color: #fbd079;
    background: red;
    border: none;
    margin-top: 10px;
}

.attention {
    color: #e74c3c;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.three-steps {
    color: #ad2a1a;
    font-size: 18px;
}

.steps {
    color: #ad2a1a;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 15px;
    font-size: 16px;
}

#share-buttons {
    position: relative;
}

#share-buttons img {
width: 45px;
padding: 2px;
border: 2px solid #fff;
border-radius: 50%;
box-shadow: 0;
display: inline;
margin-bottom: 5px;
}

#share-buttons img:hover {
    border: 2px solid #fbd079;
}

.share-buttons {
    padding: 15px 0px 15px 20px;
}

/*#line-logo:hover {
    cursor: pointer;
}

.line {
    position: absolute;
    bottom: 0;
    right: 10px;
    z-index: 5;
    background-color: #fff;
    padding: 10px;
    border: 2px solid #777;
}

.line p {
    color: #555;
    font-weight: bold;
    text-shadow: none;
    margin: 0;
}

#close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background: #777;
    padding: 3px 6px;
    border-bottom-left-radius: 1px;
}

#close:hover {
    cursor: pointer;
}*/

.initials {
    padding: 15px 15px 15px 15px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    min-height: 180px;
}

.contacts {
    padding: 15px 0px 15px 20px;
}

.share-buttons h1, .initials h1, .contacts h1 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #fbd079;
    margin-bottom: 20px;
}

.contacts-inner {
    text-align: left;
}

.how-to-buy {
    position: fixed;
    bottom: 40px;
    left: 0;
    background-color: rgba(1,1,1,0.3);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 2px solid #e74c3c;
    border-bottom: 2px solid #e74c3c;
    border-right: 2px solid #e74c3c;
    z-index: 10;
}

.how-to-buy h4 {
    margin: 0 0 0 32px;
    padding: 13px 10px 13px 0;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

.how-to-buy:hover {
    cursor: pointer;
    opacity: .9;
}

.how-to-buy-btn {
    padding: 4px 5px 4px 5px;
    opacity: .5;
    height: 45px;
    width: 30px;
    float: left;
}

.how-to-buy-btn-borders {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.how-to-buy-btn figure {
    background: #fff;
    height: 37px;
    width: 20px;
}

#notice .btn {
    padding: 4px 12px;
}

#arrow {
    position: fixed;
    bottom: 40px;
    right: 10px;
    width: 60px;
    height: 55px;
    background-color: rgba(1,1,1,0.6);
    z-index: 10;
}

#arrow:hover {
    background-color: rgba(1,1,1,0.5);
}

#arrow img {
    zoom: 30%;
}

/* Universal styling */

/*.unactive {
    color: #e74c3c;
}*/

/*.navbar-inverse .navbar-nav>.active2>a {
    color: #fff;
}*/

.row-2 {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.branding {
    font-weight: bold;
    color: #fbd079;
}

/*.bank-card {
    color: #e74c3c;
    font-style: italic;
    font-weight: bold;
    font-size: 17px;
}*/

.hide {
    display: none;
}

.unhide {
    display: block;
}

.fixed {
    position: fixed;
    top: 60px;
}

.clear-fix {
    clear: both;
}

/* how-to-pay */

/* #how-to-pay img {
    padding: 15px 0px;
}

.part {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 20px 0px;
    margin: 20px 200px;
}

.number {
    color: #fa2020;
    font-size: 25px;
    font-weight: bold;
}

.blue-notice {
    color: #337ab7;
    font-weight: bold;
} */

/* Responsive styling */

@media (max-width: 991px) {

    .navbar {
        margin-bottom: 0;
        border-radius: 0;
        border-bottom: 2px solid #fff;
    }

    #navbar-2 {
        display: block;
    }

    #brand-2 img {
        width: 2.5%;
        margin: 8px 20px 8px 8px;
    }

    #menu {
        display: none;
    }

    .products-group>h1 {
        margin-top: 20px;
    }

    .products-inner {
        margin-bottom: 0;
    }

    .products {
        margin-bottom: 20px;
    }

    .products-inner>.row-2>.no-padding:first-child {
        padding-right: 0px;
    }

    .products-inner>.row-2>.no-padding:nth-child(2) {
        padding-left: 0px;
        padding-right: 0px;
    }

    .products-inner>.row-2>.no-padding:last-child {
        padding-left: 0px;
    }

    .notice img {
        width: 11%;
    }

    /*.languages {
        width: 13%;
    }*/

    #share-buttons img {
        width: 40px;
    }

    .contacts {
        padding-left: 10px;
    }

    /*#how-to-pay {
        margin-top: 80px;
    }*/

    /*.part {
        margin: 20px 85px;
    }*/
}

@media (max-width: 767px) {

    #brand-2 img {
        margin: 10px 20px 10px 10px;
    }

    .languages {
        width: 20%;
    }

    .languages-2-wrapper {
        padding: 0 36%;
    }

    .notice img {
        width: 14%;
    }

    footer {
        padding: 0;
    }

    .initials {
        border: none;
    }

    #share-buttons img {
        margin-bottom: 0;
        width: 45px;
    }

    /*.part {
        margin: 20px 55px;
    }

    .number {
        font-size: 15px;
    }*/
}

@media (max-width: 499px) {

    .navbar p {
        font-size: 17px;
        padding: 13px 5px 13px 5px;
    }

    #brand-2 h3 {
        font-size: 20px;
    }

    #brand-2 img {
        width: 3%;
        margin: 14px 20px 14px 14px;
    }

    #price {
        font-size: 18px;
    }

    /*.languages {
        width: 26%;
    }

    .languages-2-wrapper {
        padding: 0 30%;
    }

    .language p {
        font-size: 8px;
    }*/

    #notice>p:nth-child(2) {
        margin-top: 12px;
    }

    .notice p {
        font-size: 13px;
    }

    .notice img {
        width: 28%;
    }

    .cross {
        top: 10px;
    }

    .attention {
        font-size: 18px;
    }

    .notice .special-notice p {
        font-size: 14px;
    }

    .three-steps {
        font-size: 15px;
    }

    .steps {
        font-size: 15px;
    }

    /*#faq h3 {
        font-size: 13px;
    }

    #faq p {
        font-size: 12px;
    }*/

    #arrow {
        width: 50px;
        height: 45px;
    }

    .contacts {
        border-left: none;
        padding-top: 0;
    }

    /*.baner {
        display: none;
    }

    .baner-hidden {
        display: unset;
    }*/

    .how-to-buy h2 {
        font-size: 24px;
    }

    .how-to-buy p {
        font-size: 11px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    /*.bank-card {
        font-size: 13px;
    }

    .pager {
        text-align: center;
    }

    .part {
        margin: 20px 0px;
    }*/
}

@media (max-width: 399px) {
    /*.languages {
        width: 30%;
    }*/
}
